:root {
    --text-main: 'Roboto Mono', monospace;
    --black: #1f1f1f;
    --white: #efefef;
}

body {
    background-color: var(--black);
}

.wrapper {
    display: flex;
    justify-content: space-evenly;
    text-align: center;

}

.info {
    justify-content: space-between;
    flex-direction: column;
}


.subtitles {
    color: var(--white);
    font-size: 24px;
    margin: 10px;
}

.wrapper-options {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    color: var(--black);
}

.options {
    margin: 10px;
}


#run-algorithm {
    background-color: var(--white);
    color: var(--black);
    font-family: var(--text-main);
    text-align: center;
    font-size: 45px;
    overflow: visible;
    margin: 45px;
    border-radius: 10px;
    border: 0;
    width: 25%;
    padding: 10px;

}


#run-algorithm:hover {
    background-color: var(--black);
    color: var(--white);
    border: 1px solid var(--white);
}

.cell:not(.draggable) {
    transition: all .1s linear;
}

.cell:hover {
    transform: scale(1.3);
}

.cell.empty {
    background-color: var(--white);
    border: 1px solid gray;

}

.cell.wall {
    transform: scale(0);
    background-color: black;
    animation: pop 0.5s ease-in forwards;
}

@keyframes pop {
    10% {
        transform: scale(0.0)
    }
    30% {
        transform: scale(0.25)
    }
    75% {
        transform: scale(1.25)
    }
    100% {
        transform: scale(1)
    }
}



.cell.visited {
    background-color: #2055da;
}

.cell.path {
    background-color: yellow;
}

.cell.start_point {
    background-color: goldenrod;
    border: 1px solid gray;
}

.cell.start_point::after {
    color: var(--black);
    font-size: 28px;
    content: "α";
}


.cell.end_point {
    background-color: goldenrod;
    border: 1px solid gray;
}

.cell.end_point::after {
    color: var(--black);
    font-size: 28px;
    content: "Ω";
}


table {
    width: calc(50 * 35px);
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 40px;
    border: 2px solid black;
    background-color: var(--white);
}

td {

}

tr {
    height: 35px;
}

